<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mapi</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <!-- DOM Elements -->
    <div id="map-controls">
        <div class="zoom" onclick="zoomout()">-</div>
        <div class="zoom" onclick="zoomin()">+</div>
    </div>
    <div id="main-map">

    </div>
    <div id='sidepanel'>
        <div style="width: 100%; text-align: center;">
            <img src="/static/img/mapi_logo.png" style="margin-top: 10px;">
        </div>
        
        
        <div id="controls">
            <!-- Map Dimensions -->
            <p>Map Dimensions:</p>
            <input id="inp_size" type="range" value="20" min="10" max="50" oninput="this.nextElementSibling.value = this.value + 'x' + this.value">
            <output>20x20</output><br><br>

            <!-- Select Generator -->
            <label for="map_generator">Select Map Generator</label>
            <select name="map_generator" id="map_generator_select">
            </select>
            <br><br>
            <label for="item_generator">Select Item Generator</label>
            <select name="item_generator" id="item_generator_select">
            </select>
            <br><br>
            <label for="entity_generator">Select Entity Generator</label>
            <select name="entity_generator" id="entity_generator_select">
            </select>
            <br><br><br>

            <!-- Buttons -->
            <button id='newbutton' onclick="new_map()">Generate New Map</button>
            <button id='newbutton' onclick="alert('download')">Download Map</button>

            
        </div>
        <div id="id"></div>
        <strong>
        <div id="stat"></div>
        </strong>
    </div>
    


    <!-- Script and API -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='/static/js/main.js'></script>
</body>
</html>